<!-- Footer -->
<footer class="bg-body-primary text-center bg-dark text-muted bottom-0 mt-5">
  <!-- Grid container -->
  <div class="container p-1">

    {# Réseaux sociaux #}
    <section class="mb-3">
      <!-- Facebook -->
      <a data-mdb-ripple-init 
        class="btn btn-outline btn-floating m-1" 
        rel="noopener noreferrer" 
        target="_blank" 
        href="https://facebook.com" 
        title="Rejoignez notre Facebook"
        aria-hidden="true"
        role="button"
        >
          <i class="bi bi-facebook fs-5"></i>
      </a>

      <!-- Twitter -->
      <a data-mdb-ripple-init 
        class="btn btn-outline btn-floating m-1" 
        rel="noopener noreferrer" 
        target="_blank" 
        href="https://twitter.com" 
        title="Rejoignez notre Twitter"
        aria-hidden="true"
        role="button"
        >
          <i class="bi bi-twitter fs-5"></i>
      </a>

      <!-- Linkedin -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-linkedin fs-5"></i
      ></a>

      <!-- Github -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="bi  bi-github fs-5"></i
      ></a>
    </section>

    <!-- Section: Form -->
    <section class="" >
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Inscrivez-vous à notre newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="form5Example24" class="form-control" placeholder="Adresse e-mail" />
              <label class="form-label" for="form5Example24"></label>
            </div>
          </div>

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-info mb-4 rounded">
              S'abonner
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum
        harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 ">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">Link 1</a>
            </li>
            <li>
              <a class="text-body" href="#!">Link 2</a>
            </li>
            <li>
              <a class="text-body" href="#!">Link 3</a>
            </li>
            <li>
              <a class="text-body" href="#!">Link 4</a>
            </li>
          </ul>
        </div>

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">Link 1</a>
            </li>
            <li>
              <a class="text-body" href="#!">Link 2</a>
            </li>
            <li>
              <a class="text-body" href="#!">Link 3</a>
            </li>
            <li>
              <a class="text-body" href="#!">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>


  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © {{ 'now' | date('Y') }} Copyright:
    <a class="text-reset fw-bold" href="https://www.linkedin.com/in/louis-mazzella-5509292a2/">Louis Mzl </a>
    <p>{{ 'mit_license' }}</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->