{% extends 'base.html.twig' %}

{% block title %}Breizh Codeur - Accueil{% endblock %}

{% block body %}
<style>
    .home_bg img{
        position: relative;
    } 
    .home_bg p{
        position: absolute;
        color: white;
        font-weight: 600;
        z-index: 10;
        font-size: 150px;
        top: 20%;
        left: 22%;
        width: 200px;
        line-height: 150px;
    }
</style>
<div class="home_bg">
    <img src="{{ asset('banner.jpg')}}" alt="" width="100%">
    <p>Breizh Codeur</p>
</div>
{% endblock %}
